
html, body{
	margin: 0;
	padding: 0;
}

#header, #footer, body, html {
	background-color: rgb(0, 6, 0);
	padding:0px;
	text-align:center;
}

#main {
	background-color: rgb(0, 3, 0);
}      

h1, h2, h3 {
	text-align: center;
	color: rgb(0, 220, 0);
	font-family: monospace;
}    

video {
	margin: auto;
	display: block;
	width: 100%;
	max-width: 1080px;
	max-height: 800px;
}

h1, h2 {
	margin-top: 22px;
	font-family: 'Zilla Slab', monospace;
	text-transform: uppercase;
	letter-spacing: 0.5em;
	color: #aeffd3;
}

button {
	background-color: black; /* Green */
	border: none;
	color: white;
	padding: 8px 16px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	transition-duration: 0.4s;
	cursor: pointer;
	border-radius: 8px;
	border: 2px solid #4CAF50;
	font-family: monospace;
}

button:hover {
	background-color: #4CAF50; 
	color: black; 
}

.active {
	background-color: #4CAF50; 
	color: black; 
}

a {	
	font-family: 'Zilla Slab', monospace;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	text-decoration: none;
	transition-duration: 0.4s;
	margin-bottom: 22px;
	border-bottom: 1px solid transparent;
}

a:hover {
	border-color: #aeffd3;
}

.glow {
	color: #aeffd3;
	text-align: center;
	-webkit-animation: glow 1.5s ease-in-out infinite alternate;
	-moz-animation: glow 1.5s ease-in-out infinite alternate;
	animation: glow 1.5s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
	from {
	text-shadow: 
		0 0 6px #8af0bb, 
		0 0 12px #63c594, 
		0 0 18px #5ac08b, 
		0 0 24px #3c865d;
	}

	to {
	text-shadow: 
		0 0 12px #63c594, 
		0 0 18px #5ac08b, 
		0 0 24px #3c865d, 
		0 0 30px #003915;
	}
}
